// 6 column grid

.column-1 {
	float: left;
	padding-left: @base;
	padding-right: @base;
	width: calc(100%/3);
}

.column-3 {
	&:extend(.column-1);
	width: calc(100% * (1/2));
}

.column-4 {
	&:extend(.column-1);
	width: calc(100% * (2/3));
}

.column-6 {
	&:extend(.column-1);
	width: 100%;
}

.section {
	height: auto;
	max-width: 100%;
	padding: 1rem;
	text-align: center;
	width: 100vw;
}

.wrapper {
	// background-color: white;
	padding: @base;
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
	position: relative;
}