@media (max-width: 641px) {
	html {
		font-size: 80%;
	}

	.logo {
		font-size: 3rem;
	}

	header {
		text-align: center;
		height: @base * 4;
		.nav-links {
			top: @base * 2.5;
			position: absolute;
			left: 0;
			right: 0;
			display: block;
			li {
				width: 25%;
			}
		}
	}

	.nav-links {

	}
	
	.column-1 {
		width: 100%;
		padding: 0;
	}
}