@import "reset.less";

@dark: #000;
@light: #fff;
@blue: #264d5e;

body {
    background-color: lighten(@light, 10%);
}

.primary {
	width: 600px;
	height: 600px;
	background-color: @dark;
	display: block;
	margin: 0 auto;
}

.project {
	background-color: @blue;
	text-align: center;
}

.hero {
	text-align: center;
	height: 5vh;
	padding: 5vh;
	background-color: darken(@light, 20%);
	h2 {
		font-size: 2.2rem;
		// background-color: red;
		margin-bottom: .3em;
	}
	p {
		font-size: 1.2rem;
	}
}
.nav-links {
	text-align: right;
	// float: right;
	// width: 400px;
	padding-right: 5vw;
	li {
		display: inline-block;
	}

}

// less color function notes
// lighten, darken, saturate, desaturate, fadein, fadeout, fade, spin, and mix.
