/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #f5f5f5;
  font-family: 'Oxygen', helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.125s ease;
  -moz-transition: all 0.125s ease;
  -ms-transition: all 0.125s ease;
  -o-transition: all 0.125s ease;
}
a {
  text-decoration: none;
  color: #264d5e;
}
a:hover {
  color: #172f3a;
}
header {
  padding: 1rem;
  height: 4rem;
}
header h1 {
  color: #264d5e;
  font-size: 1.25rem;
  float: left;
  line-height: 2rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
h3 {
  font-size: 2rem;
}
.nav-links {
  float: right;
}
.nav-links li {
  display: inline-block;
  float: left;
  line-height: 2rem;
  padding-left: 2rem;
}
img {
  max-width: 100%;
  height: auto;
}
.column-1 {
  width: calc(33.333333333333336%);
  float: left;
  background-color: red;
  padding-left: 2rem;
  padding-right: 2rem;
}
.column-1:nth-child(2n) {
  background-color: cyan;
}
.column-1:last-child {
  background-color: blue;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  position: relative;
}
.primary {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
.project {
  background-color: #264d5e;
  text-align: center;
}
.section {
  padding: 2rem;
  width: 100vw;
  height: auto;
  text-align: center;
}
.section.row {
  max-width: 1200px;
}
.hero {
  padding: 2rem;
  width: 100vw;
  height: auto;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  background-color: #264d5e;
  padding-left: 10rem;
  padding-right: 10rem;
  color: white;
}
.hero.row {
  max-width: 1200px;
}
.hero h1 {
  font-weight: 500;
  letter-spacing: .05em;
  margin-bottom: .70em;
  font-weight: 700;
}
.hero h3 {
  font-weight: 700;
  margin-bottom: .5em;
}
.hero .hero-btn {
  padding: 2rem;
  border: 1px solid red;
  width: 40vw;
  cursor: pointer;
  margin: 2rem auto 0;
  display: block;
  color: white;
  font-size: 2rem;
  border-color: #a5121e;
  background-color: #a5121e;
}
.hero .hero-btn:hover {
  background-color: #800e17;
  color: white;
}
.hero p {
  font-size: 1.2rem;
}
