@import "reset.less";

@dark: #000;
@light: #fff;
@blue: #264d5e;
@base: 2rem;
@primary: #a5121e;

body {
	background-color: darken(@light, 4%);
	font-family: 'Oxygen', helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 140%;
}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.125s ease;
	-moz-transition:    all 0.125s ease;
	-ms-transition:     all 0.125s ease;
	-o-transition:      all 0.125s ease;
}

a {
	text-decoration: none;
	color: @primary;
	&:hover {
		color: darken(@primary, 10%);
	}
}

section {
	// display: block;
	// height: auto;
}

header {
	padding: @base/2;
	height: @base * 2;
	opacity: .5;
}

h1 {
	color: @primary;
	font-size: 1.25rem;
	float: left;
	line-height: @base;
}

.nav-links {
	float: right;

	li {
		display: inline-block;
		float: left;
		line-height: 2rem;
		padding-left: @base;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.row {
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
// .column-1 {
// 	width: calc(100%/3);
// 	min-height: 1px;
// 	float: left;
// 	background-color: red;
// 	padding-left: @base;
// 	padding-right: @base;
// 	height: 10rem;
// 	&:nth-child(2n) {
// 		background-color: cyan;
// 	}
// 	&:last-child {
// 		background-color: blue;
// 	} 
// }

// .column-3 {
// 	width: calc(100%/3);
// 	min-height: 1px;
// 	float: left;
// 	background-color: red;
// 	padding-left: @base;
// 	padding-right: @base;
// 	height: 10rem;
// }

// .column-2 {
// 	width: calc(100%/(2/3))
// }

.wrapper {
	margin-right: auto;
	margin-left: auto;
	// padding-right: @base;
	// padding-left: @base;

}

.primary {
	width: 600px;
	height: 600px;
	margin: 0 auto;
}

.secondary {

}
.project {
	background-color: @blue;
	text-align: center;
}

.section {
	width: 100vw;
	height: 90vh;
}

.hero {
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	background-color: @blue;
	padding-left: 10rem;
	padding-right: 10rem;
	color: white;
	h2 {
		font-size: 5rem;
		font-weight: 500;
		letter-spacing: .05em;
		margin-bottom: .70em;
	}
	h3 {
		font-size: 2rem;
		margin-bottom: .5em;
	}
	p {
		font-size: 1.2rem;
	}
}

// less color function notes
// lighten, darken, saturate, desaturate, fadein, fadeout, fade, spin, and mix.