@import "reset.less";

@dark: #000;
@gray: #808080;
@light: #fff;

@blue: #264d5e;
@red: #a5121e;

@base: 2rem;
@primary: darken(@gray, 20%);

/* ------------------------------------------------- */

// Need to resize fonts dynamically…
@media only screen and (min-width: 600px) {
	body {
		font-size: 14px;
	}
}

/* ------------------------------------------------- */

body {
	background-color: darken(@light, 4%);
	font-family: 'Oxygen', helvetica, sans-serif;
	font-size: 130%;
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.15s ease;
	-moz-transition:    all 0.15s ease;
	-ms-transition:     all 0.15s ease;
	-o-transition:      all 0.15s ease;
}

a {
	text-decoration: none;
	color: lighten(@primary, 15%);
	&:hover {
		color: darken(@primary, 10%);
	}
}

header {
	padding: @base/2;
	height: @base * 2;
	position: absolute;
	background: lighten(@gray, 50%);
	left: 0;
	right: 0;
}

blockquote {
	padding-left: .5em;
	border-left: 1px solid @gray;
	margin-bottom: .2em;
}

header h1 {
	color: @primary;
	font-size: 1.25rem;
	float: left;
	line-height: @base;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.75rem;
}

h5 {
	font-size: 1.25rem;
}

.nav-links {
	float: right;
	display: table;
	li {
		display: inline-block;
		float: left;
		line-height: 2rem;
		padding-left: @base;
	}
}

img {
	max-width: 100%;
	height: auto;
}

// 6 column grid

.column-1 {
	width: calc(100%/3);
	float: left;
	padding-left: @base;
	padding-right: @base;
	// background-color: red;
	// &:nth-child(2n) {
	// 	background-color: cyan;
	// }
	// &:last-child {
	// 	background-color: blue;
	// } 
}

.column-3 {
	.column-1;
	width: calc(100% * (1/2));
}

.column-4 {
	.column-1;
	width: calc(100% * (2/3));
}

.column-6 {
	.column-1;
	width: 100%;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 1600px;
	position: relative;
}

.section {
	padding: 1rem;
	width: 100vw;
	max-width: 100%;
	height: auto;
	text-align: center;
	&.row {
		max-width: 1200px;
	}
}

.hero {
	.section;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	background-color: desaturate(@red, 100%);
	color: white;
	height: 98vh;

	h1 {
		letter-spacing: .05em;
	}
	h2 {
		font-weight: 700;
		margin-bottom: @base;
	}

	.dash {
		float: left;
		line-height: 100%;
	}

	.quotes {
		text-align: left;
		margin-bottom: @base;
	}

	.byline {
		font-size: smaller;
		float: left;
		margin-left: .2em;
	}


	.hero-btn {
		padding: @base;
		border: 2px solid darken(@gray, 30%);
		width: 60vw;
		cursor: pointer;
		margin: 0 auto;
		display: block;
		clear: both;
		color: white;
		font-size: 3rem;
		background-color: @primary;
		&:hover {
			background-color: darken(@primary, 10%);
			// color: white;
			.cta-symbol:before {
				content: "☺";

			}
		}
	}

	.cta-symbol {
		width: .6em;
		display: inline-block;
		&:before {
			content: "↓";

		}
	}
}


.project {
	float: left;
	.project-title {
		margin-bottom: @base / 2;
	}
	.primary-img {
		.column-6;
		margin-bottom: @base / 3;
		img {
			// height: 100%;
		}
	}
	.secondary-img {
		border: 1px solid fadeout(@gray, 50%);
		margin-bottom: @base / 3;
	}
	.project-context {
		margin-bottom: @base / 2;
	}
	&:nth-child(even){
		background-color: white;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.nowrap {
	white-space: nowrap;
}


// less color function notes
// lighten, darken, saturate, desaturate, fadein, fadeout, fade, spin, and mix.